body {
    background-image: url("./assets/background.svg");
    background-size: cover;
    margin: 0;
}

h1 {
    padding-left: 2rem;
    font-size: 5.5rem;
    margin: 0;
    color: #fdfdb1;
    font-family: 'Inter', sans-serif;
    text-shadow: 6px -2px 0px rgba(0,128,128,1);
    grid-column: span 2;
}

.topContainer {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 2.688rem;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
    width: 100vw;
}



.buttonContainer {
    padding-left: 2rem;
    grid-column: span 2;
    display: flex;
    gap: 2.688rem;
}

.button {
    font-size: 1.375rem;
    padding: 1rem 3rem;
    align-items: center;
    border-radius: 100px;
    height: 4rem;
    border: 0;
    background-color: #0E5467;
    color: #FFFFFF;
}

/* When disabled */
.disabled {
    opacity: 0.7;
    background-color: #1d4a4a;
}

.timePassedContainer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

p {
    padding-left: 2rem;
    margin: 0;
    font-size: 1.5rem;
    color: #fdfdb1;
    font-family: 'Inter', sans-serif;
}

h2 {
    padding-left: 2rem;
    margin: 0;
    font-size: 2.813rem;
    color: #fdfdb1;
    font-family: 'Inter', sans-serif;
}

.timeRemainingContainer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

hr {
    width: 100%;
    border: 0.25rem solid #fdfdb1;
    background-color: #fdfdb1;
    box-shadow: 9px -3px 0px 2px #008080;
}

/* For mobile landscape display*/

@media (max-width: 850px) {
    
    .topContainer {
        height: 100vh;
        width: 100vw;
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr;
        align-items: center;
        box-sizing: border-box;
    }

    h1 {
        grid-column: span 1;
        font-size: 3rem;
    }
    .buttonContainer {
        gap: 1.5rem;
        height: 100%;
        grid-column: span 1;
        align-items: center;
    }
    .button {
        font-size: 1rem;
        height: 3.5rem;
        width: 9rem;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .timeRemainingContainer {
        grid-column: span 1;
    }

    .timePassedContainer {
        grid-column: span 1;
    }

    hr {
        display: none;
    }
}